node-red-contrib-ms-graph/doc/flow.json
[
    {
        "id": "77ddf6d9.4ec5b8",
        "type": "ms-graph-oauth",
        "z": "f0b417d1.9d52a8",
        "name": "Build URL",
        "appId": "YOUR APP ID",
        "appSecret": "YOUR APP SECRET",
        "redirect": "https://server:1880/callback-auth",
        "scope": "User.Read Mail.Send offline_access",
        "state": "user.id",
        "url": "signinurl",
        "code": "",
        "refresh": "",
        "access": "",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "6197a033.8a3c8"
            ]
        ]
    },
    {
        "id": "6197a033.8a3c8",
        "type": "send-card",
        "z": "f0b417d1.9d52a8",
        "name": "Sign-In",
        "prompt": false,
        "promptText": "",
        "delay": 0,
        "sendType": "signin",
        "text": "",
        "random": false,
        "media": "",
        "title": "",
        "subtitle": "",
        "attach": "",
        "carousel": false,
        "buttons": [],
        "quicktext": "",
        "quickreplies": [],
        "btnOutput": false,
        "quickOutput": false,
        "repeat": 0,
        "outputs": 1,
        "signintext": "Please Sign-In to your Microsoft Account",
        "signintitle": "Sign-In",
        "signinurl": "{signinurl}",
        "bt1action": "postBack",
        "bt2action": "postBack",
        "bt3action": "postBack",
        "quickbt1action": "postBack",
        "quickbt2action": "postBack",
        "quickbt3action": "postBack",
        "quickbt4action": "postBack",
        "quickbt5action": "postBack",
        "quickbt6action": "postBack",
        "quickbt7action": "postBack",
        "quickbt8action": "postBack",
        "quickbt9action": "postBack",
        "quickbt10action": "postBack",
        "quickbt11action": "postBack",
        "x": 420,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4bf1cd56.dc9154",
        "type": "link in",
        "z": "f0b417d1.9d52a8",
        "name": "SIGN-IN",
        "links": [
            "fa9438e8.708f78"
        ],
        "x": 115,
        "y": 160,
        "wires": [
            [
                "77ddf6d9.4ec5b8"
            ]
        ]
    },
    {
        "id": "ecc2727.b3a849",
        "type": "http in",
        "z": "f0b417d1.9d52a8",
        "name": "Microsoft Sign-In Graph",
        "url": "/callback-auth",
        "method": "get",
        "swaggerDoc": "",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "52bf42e0.c2586c",
                "acc0d680.d6a908"
            ]
        ]
    },
    {
        "id": "3418c8a1.c50f18",
        "type": "http response",
        "z": "f0b417d1.9d52a8",
        "name": "",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "52bf42e0.c2586c",
        "type": "template",
        "z": "f0b417d1.9d52a8",
        "name": "Thanks",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Merci !",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "3418c8a1.c50f18"
            ]
        ]
    },
    {
        "id": "30ae6bd6.218b14",
        "type": "nedb",
        "z": "f0b417d1.9d52a8",
        "name": "Fetch User",
        "path": "{cwd}/data/database.db",
        "xlsx": "",
        "key": "payload.state",
        "value": "user",
        "operation": "get",
        "merge": false,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "d919a277.0044f"
            ]
        ]
    },
    {
        "id": "d919a277.0044f",
        "type": "function",
        "z": "f0b417d1.9d52a8",
        "name": "Tokens",
        "func": "msg.user.profile.token = {\n    refresh : msg.payload.refresh,\n    access  : msg.payload.access\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "c7906b17.d4f948"
            ]
        ]
    },
    {
        "id": "acc0d680.d6a908",
        "type": "ms-graph-oauth",
        "z": "f0b417d1.9d52a8",
        "name": "Resolve Code",
        "appId": "YOUR APP ID",
        "appSecret": "YOUR APP SECRET",
        "redirect": "https://server:1880/callback-auth",
        "scope": "User.Read Mail.Send offline_access",
        "state": "payload.state",
        "url": "",
        "code": "payload.code",
        "refresh": "payload.refresh",
        "access": "payload.access",
        "x": 440,
        "y": 340,
        "wires": [
            [
                "30ae6bd6.218b14"
            ]
        ]
    },
    {
        "id": "c7906b17.d4f948",
        "type": "nedb",
        "z": "f0b417d1.9d52a8",
        "name": "Save User",
        "path": "{cwd}/data/database.db",
        "xlsx": "",
        "key": "user.id",
        "value": "user",
        "operation": "set",
        "merge": false,
        "x": 970,
        "y": 340,
        "wires": [
            [
                "f3781609.96aad8"
            ]
        ]
    },
    {
        "id": "f3781609.96aad8",
        "type": "send-card",
        "z": "f0b417d1.9d52a8",
        "name": "Sign-In OK",
        "prompt": false,
        "promptText": "",
        "delay": 0,
        "sendType": "text",
        "text": "Bonjour {user.profile.name},\n\nL'authentification Microsoft s'est effectuée correctement !",
        "random": false,
        "media": "",
        "title": "",
        "subtitle": "",
        "attach": "",
        "carousel": false,
        "buttons": [],
        "quicktext": "",
        "quickreplies": [],
        "btnOutput": false,
        "quickOutput": false,
        "repeat": 0,
        "outputs": 1,
        "signintext": "Please Sign-In to your Microsoft Account",
        "signintitle": "Sign-In",
        "signinurl": "{signinurl}",
        "bt1action": "postBack",
        "bt2action": "postBack",
        "bt3action": "postBack",
        "quickbt1action": "postBack",
        "quickbt2action": "postBack",
        "quickbt3action": "postBack",
        "quickbt4action": "postBack",
        "quickbt5action": "postBack",
        "quickbt6action": "postBack",
        "quickbt7action": "postBack",
        "quickbt8action": "postBack",
        "quickbt9action": "postBack",
        "quickbt10action": "postBack",
        "quickbt11action": "postBack",
        "x": 1150,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "657c2c9e.c16404",
        "type": "inject",
        "z": "f0b417d1.9d52a8",
        "name": "",
        "topic": "",
        "payload": "KfFf9yv508l",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "b1af1d3.1e566e"
            ]
        ]
    },
    {
        "id": "b1af1d3.1e566e",
        "type": "nedb",
        "z": "f0b417d1.9d52a8",
        "name": "Fetch User",
        "path": "{cwd}/data/database.db",
        "xlsx": "",
        "key": "payload",
        "value": "user",
        "operation": "get",
        "merge": false,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "af8c0de9.711d2"
            ]
        ]
    },
    {
        "id": "19d17655.dfd47a",
        "type": "http request",
        "z": "f0b417d1.9d52a8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "https://graph.microsoft.com/v1.0/me",
        "tls": "",
        "x": 710,
        "y": 460,
        "wires": [
            [
                "d5b1e163.b5e3f"
            ]
        ]
    },
    {
        "id": "af8c0de9.711d2",
        "type": "function",
        "z": "f0b417d1.9d52a8",
        "name": "Header",
        "func": "msg.headers = {\n    'Content-Type': 'application/json',\n    'Accept': 'application/json',\n    'Authorization': 'Bearer ' + msg.user.profile.token.access\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 460,
        "wires": [
            [
                "19d17655.dfd47a"
            ]
        ]
    },
    {
        "id": "80897b70.6e14a8",
        "type": "comment",
        "z": "f0b417d1.9d52a8",
        "name": "Test with a given user",
        "info": "",
        "x": 200,
        "y": 420,
        "wires": []
    },
    {
        "id": "cae2d88c.7873a8",
        "type": "comment",
        "z": "f0b417d1.9d52a8",
        "name": "Build Callback URL",
        "info": "",
        "x": 190,
        "y": 260,
        "wires": []
    },
    {
        "id": "3c605b91.f41934",
        "type": "comment",
        "z": "f0b417d1.9d52a8",
        "name": "Card Sign-In",
        "info": "",
        "x": 170,
        "y": 120,
        "wires": []
    },
    {
        "id": "d5b1e163.b5e3f",
        "type": "debug",
        "z": "f0b417d1.9d52a8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 890,
        "y": 460,
        "wires": []
    }
]